@model Nishkriya.Models.ForumAccount

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForumAccount</legend>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ForumId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ForumId)
            @Html.ValidationMessageFor(model => model.ForumId)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.YafActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YafActive)
            @Html.ValidationMessageFor(model => model.YafActive)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.VbName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VbName)
            @Html.ValidationMessageFor(model => model.VbName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.VbActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VbActive)
            @Html.ValidationMessageFor(model => model.VbActive)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
