<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Nishkriya - @ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/bundles/css")
        <link rel="alternate" type="application/rss+xml" title="Nishkriya RSS" href="@Url.Action("Feed","Home")"/>
    </head>
    <body>
        <div class="container visible-phone">
            <div class="pull-left PhonePadding">
                <div class="well sidebar-nav">
                    @Html.Action("_SidebarHome","Shared", new {selected = ViewBag.selectedSidebarEntry})
                </div>                      
            </div>
            <div class="pull-left PhonePadding">
                <div class="well sidebar-nav">
                    @Html.Action("_SidebarPosters","Shared", new {selected = ViewBag.selectedSidebarEntry})
                </div>                      
            </div>
            @RenderSection("phoneMenu", false)
        </div>
        
        <div class="container-fluid">
            <div class="row-fluid">                
                <div class="span2 visible-desktop visible-tablet">
                    <div class="well sidebar-nav">
                        @Html.Action("_SidebarHome","Shared", new {selected = ViewBag.selectedSidebarEntry})   
                        @Html.Action("_SidebarPosters","Shared", new {selected = ViewBag.selectedSidebarEntry})  
                        
                        <br/>
                        <ul class="nav nav-list visible-desktop">
                            <li class="nav-header">Kickstarter</li>                            
                        </ul>
                        
                        <ul class="nav nav-list kickstarterNav visible-desktop">
                            <iframe class="kickstarterFrame" frameborder="0" src="http://www.kickstarter.com/projects/200664283/deluxe-exalted-3rd-edition/widget/card.html"></iframe>                                                                    
                        </ul>
                        
                    </div>
                     
                    @RenderSection("desktopMenu", false)
                </div>
                <div class="span10 span12-phone">                    
                    @RenderBody()
                </div>
            </div>
        </div>    

        <hr>
        <footer>
            <p>
                You can find this project and report issues <a href="https://github.com/Xesyto/Nishkriya">on github</a>. <br />              
                <a href="https://twitter.com/MoonWolfCrn">@@MoonWolfCrn</a> <a href="https://twitter.com/ProNihilist">@@ProNihilist</a> <br />
                &copy; 2013
            </p>
        </footer>

        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", false)

        @Html.Action("Analytics", "Shared")
    </body>
</html>
