@using Nishkriya.Models.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nishkriya - @ViewBag.Title</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    
</head>
<body>
    <div class="container-fluid">
          
          <div class="row-fluid">
            
              @Html.Action("_Sidebar","Shared", new {selected = ViewBag.selectedSidebarEntry})

               <!-- Main Page Element -->
                <div class="span10 span12-phone">


              @RenderBody()
              </div><!--/span-->
          
          </div><!--/row-->

          <hr>

          <footer>
              <p>
                  You can find this project and report issues <a href="https://github.com/Xesyto/Nishkriya">on github</a>. <br />              
                  <a href="https://twitter.com/MoonWolfCrn">@@MoonWolfCrn</a> <a href="https://twitter.com/ProNihilist">@@ProNihilist</a> <br />
                  &copy; 2013
              </p>
          </footer>

        </div> 
    
        @Scripts.Render("~/bundles/scripts")
    
        @RenderSection("scripts", required: false)
</body>
</html>
