@model Nishkriya.Models.ViewModels.PaginatorViewModel

@helper PaginationLink(string linkText,int page)
{
    if (Model.ContentId == null)
    {
        @Html.ActionLink(linkText, @Model.Action, @Model.Controller, new {id = page}, new {});
    }
    else
    {
        @Html.ActionLink(linkText, @Model.Action, @Model.Controller, new { id = @Model.ContentId, Page = page }, new { });
    }    
}

<div class="pagination">
        <ul>
            <li class="@(@Model.PageIndex == 1 ? "disabled":"")">
                @PaginationLink("«",1)
            </li>
            
            @if(@Model.PageIndex - 1 > 0)
            {
                <li class="">@PaginationLink("<",@Model.PageIndex -1)</li>            
            }else
            {
                <li class="disabled"><a href="#"><</a></li>
            }
                    
            @for (int i = @Model.PageIndex - @Model.MaximumSpread; i < @Model.PageIndex ; i++ )
            {
                if (i > 0)
                {
                    <li>@PaginationLink(@i.ToString(),@i)</li>
                }
            }
            
            <li class="active">@PaginationLink(@Model.PageIndex.ToString(), @Model.PageIndex)</li>            

            @for (int i = @Model.PageIndex + 1; i <= @Model.PageIndex + @Model.MaximumSpread; i++)
            {
                if (i <= @Model.TotalPages)
                {
                    <li>@PaginationLink(@i.ToString(),@i)</li>
                }
            }

            @if(@Model.PageIndex < @Model.TotalPages)
            {
                <li class="">@PaginationLink(">",@Model.PageIndex + 1)</li>            
            }else
            {
                <li class="disabled"><a href="#">></a></li>
            }
            
            <li class="@(@Model.PageIndex == @Model.TotalPages ? "disabled":"")">
                @PaginationLink("»",@Model.TotalPages)               
            </li>
        </ul>
    </div>