@model Nishkriya.Models.ViewModels.SidebarViewModel
@{Layout = null;}
   
<!--The sidebar -->
<div class="span2">
    <div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Home</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Latest Topics" ? "active":"")">@Html.ActionLink("Latest Topics","LatestTopics","Threads")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Latest Posts" ? "active":"")"><a href="#">Latest Posts</a></li>
        <li class="@(ViewBag.selectedSidebarEntry == "About" ? "active":"")"><a href="#">About</a></li>
        <li class="@(ViewBag.selectedSidebarEntry == "Contact" ? "active":"")"><a href="#">Contact</a></li>
                  
        <li class="nav-header">View</li>
        <li class="@(ViewBag.selectedSidebarEntry == "All Topics" ? "active":"")"><a href="#">@Html.ActionLink("All Topics","Index","Threads")</a></li>
        <li class="@(ViewBag.selectedSidebarEntry == "All Posts" ? "active":"")"><a href="#">All Posts</a></li>
        <li class="@(ViewBag.selectedSidebarEntry == "Posters" ? "active":"")">@Html.ActionLink("Posters","Index","Accounts")</li>

                  
        <li class="nav-header">Posters</li>
        @foreach(var account in Model.accountList)
        {
            <li class="@(ViewBag.selectedSidebarEntry == @account.Name ? "active":"")"> @Html.ActionLink(account.Name, "Details","Accounts", new{id = account.Id}, new {}) </li>
        }


    </ul>
    </div><!--/.well -->
</div><!--/span-->

