@model Nishkriya.Models.ViewModels.SidebarViewModel
@{Layout = null;}
   
@helper MenuItems()
{
        <li class="nav-header">Home</li>
        <li class="@(ViewBag.selectedSidebarEntry == "New Content" ? "active":"")">@Html.ActionLink("New Content","Index","Home")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Latest Topics" ? "active":"")">@Html.ActionLink("Latest Topics","LatestTopics","Threads")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Latest Posts" ? "active":"")">@Html.ActionLink("Latest Posts","LatestPosts","Posts")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "About" ? "active":"")">@Html.ActionLink("About","About","Home")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Contact" ? "active":"")">@Html.ActionLink("Contact","Contact","Home")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Login" ? "active":"")">@Html.ActionLink("Login","Login","Users")</li>
                      
        <li class="nav-header">View</li>
        <li class="@(ViewBag.selectedSidebarEntry == "All Topics" ? "active":"")">@Html.ActionLink("All Topics","Index","Threads")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "All Posts" ? "active":"")">@Html.ActionLink("All Posts","Index","Posts")</li>
        <li class="@(ViewBag.selectedSidebarEntry == "Posters" ? "active":"")">@Html.ActionLink("Posters","Index","Accounts")</li>
}

@helper MenuItemsPosters()
{
        <li class="nav-header">Posters</li>
        foreach(var account in Model.accountList.OrderBy( a => a.Name))
        {
            <li class="@(ViewBag.selectedSidebarEntry == @account.Name ? "active":"")"> @Html.ActionLink(account.Name, "Details","Accounts", new{id = account.Id}, new {}) </li>
        }
}

<!--The sidebar -->
<div class="span2 visible-desktop visible-tablet">
    <div class="well sidebar-nav">
        <ul class="nav nav-list ">
            @MenuItems()
        
            @MenuItemsPosters()
        </ul>
    </div><!--/.well -->
</div><!--/span-->

<!--The sidebar -->
<div class="span12 visible-phone container-fluid">
    <div class="well sidebar-nav span6">
        <ul class="nav nav-list">
            @MenuItems()     
        </ul>
    </div><!--/.well -->
    
    <div class="well sidebar-nav span6">
        <ul class="nav nav-list">
            @MenuItemsPosters()   
        </ul>
    </div><!--/.well -->
</div><!--/span-->

