@model Nishkriya.Models.ScraperSession

<tr>
    <td>
        @Model.Start.ToShortTimeString()
    </td>
    <td>
        @Model.TimeTaken.TotalSeconds.ToString("F")
    </td>
    <td>
        @Model.PostsAdded
    </td>
    <td>
        @Model.ThreadsAdded
    </td>
    <td>
        @if (Model.HadErrors) {
            @Model.Errors.Count
        } else {
            @:-
        }
    </td>
</tr>