@model Nishkriya.Models.ViewModels.NewContentViewModel

<h2>New Content</h2>

@if(!@Model.HideExplanation)
{
    <div class="hero-unit">
        <p>
            This page displays posts made since you last visited (where "last visited" is determined by your browser).
            If this is the first time you've been here we've taken the liberty of showing you posts made in the last 8 hours. <br/>
            You can use the "Mark all as Read" button to tell Nishkriya you've read all the posts on the page right now and Nishkriya won't show them on New Content anymore.<br/><br/>
        
            Click below to dismiss this message
        </p>
        <p>
            <a class="btn btn-primary" href="@Url.Action("DismissExplanation")">
                Got It
            </a>        
        </p>            
    </div>    
}


<p>
    <a class="btn" href="@Url.Action("MarkAsRead", new { markTime = DateTime.UtcNow})">
        Mark all as Read
    </a>
</p>

@foreach (var thread in @Model.Threads)
{
    <h3><a href="@thread.Url">@Html.Raw(thread.Title)</a></h3>



    foreach (var post in thread.Posts.OrderBy(p => p.PostDate).Where(p => p.PostDate > Model.SessionTimeSinceLastVisit))
    {
        @Html.Partial("_Post", post)
    }
}

<p>
    <a class="btn" href="@Url.Action("MarkAsRead", new { markTime = DateTime.UtcNow})">
        Mark all as Read
    </a>
</p>
