@model dynamic

@{
    ViewBag.Title = "Home";
}

<div>
    <h2>Latest Posts</h2>
    @foreach (var post in ViewBag.posts)
    {   
        <div class="developer-container">
            <h3><a href="@post.Thread.GetUrl().ToString()" target="_blank">@post.Thread.Title</a></h3>
            <h5>@post.ForumAccount.Name - @post.PostDate.ToString()</h5>
            <div class="developer-quote">
                @Html.Raw(post.Content)
            </div>
        </div>
    }
</div>