@using Nishkriya.Models
@model IEnumerable<ScraperSession>

@{
    ViewBag.Title = "Stats";
    var process = @System.Diagnostics.Process.GetCurrentProcess();
}

<h2>Stats for Today</h2>

<table class="stats-table">
    <thead>
        <th>Memory (KB)</th>
        <th>CPU Time</th>
        <th>Uptime</th>
    </thead>
    <tbody>
        <tr>
            <td>@(GC.GetTotalMemory(false) / 1024)</td>
            <td>@((process.TotalProcessorTime).ToString(@"d\.hh\:mm\:ss"))</td>
            <td>@((DateTime.Now - process.StartTime).ToString(@"d\.hh\:mm\:ss"))</td>
        </tr>
    </tbody>
</table>

<table class="stats-table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Duration (s)</th>
            <th>Posts</th>
            <th>Threads</th>
            <th>Errors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            @Html.Partial("_Session", session)
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Average</td>
            <td>@{
                    @((Model.Sum(s => s.TimeTaken.TotalMilliseconds) / Model.Count() / 1000).ToString("F"))
                }
            </td>
        </tr>
    </tfoot>
</table>
